@import '../../../styles/globals';
// primary button type is the default for the time being

// Primary Button Styles
.button {
  background-color: $cakeGreen;
  border: 1px solid $cakeGreen;
  border-radius: 1.5rem;
  color: $white;
  font-size: 1rem;
  min-height: 3rem;
  min-width: 9rem;
  outline: none;
  padding: .5rem 1.5rem;
  white-space: nowrap;
  cursor: pointer;
  &:active,
  &:hover {
    background-color: $forest;
  }
  display: grid;
  align-items: center;
}

// Secondary Button Styles
.secondary {
  background-color: $white;
  border: 1px solid $cakeGreen;
  color: $cakeGreen;
  &:active,
  &:hover {
    background-color: $lightGreen;
    border: 1px solid $forest;
    color: $forest;
  }
}

// Tertiary Button Styles
.tertiary {
  background-color: $lightGray;
  border: 1px solid $lightGray;
  color: $charcoal;
  &:active,
  &:hover {
    background-color: $charcoal;
    border: 1px solid $charcoal;
    color: $white;
  }
}

// CTA Button Styles
.cta {
  background-color: $melon;
  border: 1px solid $melon;
  color: $white;
  &:active,
  &:hover {
    background-color: $ruby;
    border: 1px solid $ruby;
    color: $white;
  }
}

// CTA Button Styles
.ctaOverColor {
  background-color: $white;
  border: 1px solid $melon;
  color: $melon;
  &:active,
  &:hover {
    background-color: $lightGray;
    border: 1px solid $melon;
    color: $melon;
  }
}

// Drop Down List Button Styles
.list {
  background-color: $lightGray;
  border: none;
  border-radius: 0;
  color: $charcoal;

  & :first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }
  & :last-child {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }

  &:hover {
    background-color: $medGray;
  }

  &:active {
    background-color: $forest;
    color: $white;
  }
}
